<div class="item">
    <div class="button-bar">
        <button type="button" class="button button-small input-group-btn" id="btnDown" data-dir="down">
            <span class="oc-btn-arrow-down"></span>
        </button>
        <input type="text" placeholder="0" maxlength="3" tabindex="{{indexid}}" class="form-control text-center" id="{{indexid}}" ng-model="quantity">
        <button type="button" class="button button-small input-group-btn" id="btnUp" data-dir="up" ng-click="upClickEvent()">
            <span class="oc-btn-arrow-up"></span>
        </button>
    </div>
</div>