<ion-view view-title="Cycle Count">
   
    <ion-content id="cycleCount"  has-header="true" class="has-footer" ng-controller="CycleCountCtrl as vm">
        <ion-list>
            <!--<button type="submit" class="button button-block button-balanced" ng-click="scan()"> Barcode</button>-->
            <div class="row filter">
                <div class="col styled-select">
                <select name="cpList" id="cpList"                 
                    ng-model="vm.selectedCp" 
                    ng-change="vm.setCpSelection(vm.selectedCp)"
                    ng-options="cp.OmniName for cp in vm.cps track by cp.IpAddress"></select>
            </div>
            </div>            
            
            <div id="scanDiv" class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Scan Barcode"  ng-model="vm.item.ItemBarCode" ng-enter="vm.getitem()">
                </label>
                <button class="button button-small button-balanced icon ion-ios-barcode" ng-click="vm.scan()">
                    Scan Code
                </button>
            </div>           
            <form id="cycleCountFrom" name="cycleCountFrom" ng-submit="perfomCycleCount()">

             <label class="item item-borderless item-stacked-label" name="GenericName">
                    <span class="input-label">Description</span>
                    <input type="text" placeholder="Generic Name" ng-model="vm.item.FormattedGenericName">     
                </label>
                <label class="item item-borderless item-stacked-label" name="ItemId">
                    <span class="input-label">Item Id</span>
                    <input type="text" placeholder="Item Id" ng-model="vm.item.ItemId">
                </label>               
                <label class="item item-borderless item-stacked-label" name="Quantity">
                    <span class="input-label">QTY</span>
                </label>
                <number-control quantity="vm.item.QuantityOnHand" max="999" controlid="order-1" indexid="3"></number-control>
                <label class="item item-borderless item-stacked-label" name="ExpirationDate">
                    <span class="input-label">EXP Date</span>
                    <input id="expDate" type="datetime-local" placeholder="ExpirationDate" ng-model="vm.item.ExpirationDate" readonly="readonly" ng-show="vm.noneDateShow">
                    <input id="expDate" type="date" placeholder="ExpirationDate" ng-model="vm.item.ExpirationDate" ng-show="vm.dateShow">
                    <input id="expDate" type="month" placeholder="ExpirationDate" ng-model="vm.item.ExpirationDate" ng-show="vm.monthShow">
                    <input id="expDate" type="datetime-local" placeholder="ExpirationDate" ng-model="vm.item.ExpirationDate" ng-show="vm.datetimeShow">
                </label>
                <label class="item item-borderless item-stacked-label" name="Location">
                    <span class="input-label">Location</span>
                    <input type="text" placeholder="GenericName" ng-model="vm.item.Location">
                </label>
                <!--<label class="item item-borderless item-stacked-label" name="Location">
                    <input type="submit" class="button button-block button-balanced" value="Update Quantity">
                </label>-->
               </form>
        </ion-list>
    </ion-content>
      <ion-footer-bar class="bar bar-footer" style="padding-top: 0px;">
         
                <input type="submit"form="cycleCountFrom" class="button button-block button-balanced" value="Update Quantity" style="margin-top: 8px;margin-bottom: 8px;">
                   
                </ion-footer-bar>
           
</ion-view>