
<ion-view hide-nav-bar="true">
<ion-content class="padding">     		
    <div  class ="item-content-gray">
        
    </div>    
    <form ng-submit="submitForm(user)">
        <ion-list>
        <ion-item class="item-input">
            <input type="text" ng-model="user.userId" placeholder="User Name">
        </ion-item>
        <ion-item class="item-input">
            <input type="password" ng-model="user.password" placeholder="Password">
        </ion-item> 
        <ion-item class="item-input">
            <input type="text" ng-model="user.ServerAddress" placeholder="ServerAddress">
        </ion-item>			   
            <input type="submit" class="button button-block button-balanced" value="Log In">		   
        </ion-list>
    </form>    
</ion-content>
</ion-view>
