
<ion-view hide-nav-bar="true">
<ion-content ng-controller="LogInCtrl as vm" > 
    <div  class="item-login-omnicell-block"></div>   
    <form id="loginForm" name="loginForm" ng-submit="vm.doLogin(user)">
        <h3>NIX</h3>

        <ion-item class="item-input">
            <input type="text" ng-model="vm.user.userId" placeholder="User Name">
        </ion-item>
        <ion-item class="item-input">
            <input type="password" ng-model="vm.user.password" placeholder="Password" required>
        </ion-item> 
        <ion-item class="item-input" ng-show="vm.serverAddressNotPopulated()">
            <span class="input-label">Server Address</span>
            <input type="text" ng-model="vm.serverAddress" placeholder="ServerAddress" required>
        </ion-item>			
        <ion-item class="item-Login">
            <input type="submit" class="button button-block button-balanced" value="Log In" ng-show="!loginForm.$invalid">
        </ion-item>
    </form>    
</ion-content>
</ion-view>
