<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="ServerAddress">
                    <span class="input-label">ServerAddress</span>
                    <input type="text" placeholder="ServerAddress" ng-model="serverAddress" ng-change="onServerAddressChange()">
                </label>
            </ion-list>            
            <label class="item item-select" name="Installation">
                <span class="input-label">Installation</span>
                <select ng-model="installId" ng-change="onInstallIdChange()">
                    <option ng-repeat="installation in installations" value="{{installation.InstallId}}">{{installation.InstallId}}</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>